.cropAvatarContainer
    margin: 0 auto
    border: 1px dashed black
    overflow: hidden

.cropImgContainer
    position: absolute
    overflow: hidden

.cropImg
    user-select: none
    transform-origin: top left
    position: absolute
    pointer-events: none

.cropViewport
    border-radius: 50%
    top:0
    bottom:0
    right:0
    left:0
    box-shadow: 0 0 0 2000px rgba(255, 255, 255, 0.5)
    position: absolute
    margin: auto

.circle
    border-radius: 50%

.cropMove
    position: absolute
    cursor: move

.cropScaleContainer
  margin-left: auto
  margin-right: auto
  margin-top: 5vmin

.cropScale
    width: 100%
